# Homebrew
.brew_install.sh
Brewfile.lock.json

# Karabiner
config/karabiner/automatic_backups

# K9S
config/k9s/benchmarks
config/k9s/clusters
config/k9s/screen-dumps

# Nvim
*/config/nvim

# Zsh
config/zsh/zsh_plugins.zsh
config/zsh/work
config/zsh/.zsh_history
config/zsh/.zsh_sessions
